<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div >
    <header>
          <h1>Task Management</h1>
      <nav>
        <a href="/" class="nav-button">All tasks</a>
        <a href="/highPriority" class = "nav-button">High Priority Tasks</a>
        <a href="/lowPriority" class="nav-button">Low Priority Tasks</a>
        <a href="/dueSoon" class="nav-button">Due Soon</a>
        {{#if logged_in}}
        |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
