.hidden {
    display: none;
}

h1 {
    text-align: center;
}

nav {  
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: large;
}

/* .nav-button {
    border: 1px solid green;
} */

.login-signup{
    /* border: 3px solid brown; */
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* .login{
    border: 1px solid cyan;
    margin-inline-end: 25px;
} */
.signup{
    /* border: 1px solid cyan; */
    margin-inline-start: 25px;  
} 

body{
    background-color: cadetblue;
}
.task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* border: 1px solid cyan; */
}
.task-card{
    border: 5px solid gray;
    text-align: center;
    inline-size: 300px;
    border-radius: 10px;
    background-color: white;
}

.create-taskbtn{
    /* border: 10px solid green; */
    text-align: center;
}
.new-task-container{
    display: flex;
    justify-content: center;
}

/* .new-task-form {
    border: 5px solid green;
} */
.edit-task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-task-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.due-date{
    color: red;
}
